#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 20vh;
 background-color: transparent;
}

.bar-icon{
  color:white;
  font-size: 2rem;
  display: none;
}
.initials {
  color: rgb(24, 85, 85);
  margin-left: 20px;
}
.initials span {
  color: rgb(173, 81, 47);
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  position: relative;
}
ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  border: 2px solid transparent;
  width: 0;
  margin: -5px;
  transition: all 0.5s ease-in-out;
}
ul li a:hover::after {
  border: 2px solid orangered;
  left: 0;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width:550px){
  ul{
    display: none;
  }
  .bar-icon{
    display:block;
    margin-right:3rem;
  }
}